<script type="text/javascript">
    var vm_types = $.parseJSON('{{ vm_types|safe }}');
    var images = $.parseJSON('{{ image_list_json|safe }}');
</script>
<form id="rebuildServerForm" name="rebuildServerForm"
                      action="{% url 'topologies:rebuildServer' %}" method="POST">
    <table>
        <tbody>
        <tr>
            <td colspan="2" class="screen-overlay-menu">
                <a href="#" onclick="javascript: hideOverlay('#overlayPanel')">X</a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h2>Rebuild Instance</h2>
            </td>
        </tr>

        <tr>
            <td>
                Instance Name
            </td>
            <td>
                {{instance_name}}
            </td>
        </tr>
        <tr>
            <td>
                Base Image
            </td>
            <td>
                <select name="topoIconImageSelect" id="topoIconImageSelect">
                    <option value="0">Choose Image</option>
                    <!-- not a better way to do this? -->
                    {% for i in image_list %}
                    <option value="{{ i.id }}:{{i.type}}:{{i.name}}">{{ i.name }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        </tbody>





        <tbody>
        <tr>
            <td colspan="2">
                <input type="hidden" name="topo_id" id="topo_id" value="{{topo_id}}"/>
                <input type="hidden" name="instanceName" id="instanceName" value="{{instance_name}}"/>
                <input type="hidden" name="server_id" id="server_id" value="{{server_id}}"/>

                <input type="button" name="rebuild_server" id="rebuild_server" onclick="javascript: rebuild_server_submit();" value="Rebuild Instance"/>
                &nbsp;

            </td>
        </tr>
        </tbody>
    </table>
</form>
